@import '../../styles/globals.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: $space-md;
	margin: 0 auto;
	width: 400px;
	background-color: white;
	border-radius: $space-xxxs;
	border: 1px solid $lpGrey;
	padding: 40px 80px;

	form, form > div {
		display: flex;
		flex-direction: column;
	}

	form > div {
		gap:$space-xs;
	}

	form {
		gap: $space-md;
		button {
			width: 100px;
			background-color: #F8F8F8;
			border: 1px solid $lpGrey;
		}
	}


}