.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 400px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #C6C5C5;
	padding: 40px 80px;

	form, form > div {
		display: flex;
		flex-direction: column;
	}

	form > div {
		gap: 5px;
	}

	form {
		gap: 20px;
		button {
			width: 100px;
			background-color: #F8F8F8;
			border: 1px solid #C6C5C5;
		}
	}


}