@import '../../../styles/globals.scss';

.container {
	> div {
		display: flex;
		align-items: flex-start;
		gap:$space-xs;
		h6 {
			margin-top: 3px;
		}
		p {
			font-size: 0.8rem;
		}
		
	}
	.description {
		display: flex;
		flex-direction: column;
	}
	a {
		border: 2px solid $lpGreen;
		border-radius: $space-xxxs;
		text-decoration: none;
		color: $lpGreen;
		padding-top: 8px;
		padding-bottom: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap:7px;
		width: 170px;
		align-self: center;
		>i {
			background-color: $lpGreen;
			border-radius: 50%;
			color: white;
			font-size: 1.3rem;
			padding: 2px;
		}
	}
}