@import '../../../styles/globals.scss';
.container {
	> div {
		display: flex;
		flex-direction: column;
		gap:$space-xs;
		.progressBar {
			height:$space-xs;
			width: 100%;
			background-color: grey;
			position: relative;
			z-index: 1;
			.progress {
				position: absolute;
				left: 0;
				height:$space-xs;
				width: 35%;
				background-color: $lpGreen;
				z-index: 2;
			}
		}
	}
}