@import '../../styles/globals.scss';

.container {
	margin: $space-lg auto 0 auto;
	padding: $space-xxl;
	width: 600px;
	background-color: white;
	border-radius: $space-xxxs;
	form {
		display: flex;
		flex-direction: column;
		gap: $space-md;
		> div {
			label {
					display: flex;
					flex-direction: column;
					gap: $space-xs;
			}
		}
	}
	input[type="submit"] {
		width: $space-md;
		min-width: 100px;
	}
}