@import '../../styles/globals.scss';

.container {
	margin: $space-lg auto 0 auto;
	width: 100%;
	max-width: 950px;
	
	h2 {
		margin-bottom: 15px;
	}
	> div {
		display: flex;
		flex-direction: column-reverse;
		gap: $space-md;
	}

	@include for-phone-only {
		h2 {
			display: flex;
			justify-content: center;
		}
	}

	@include for-tablet-up {
		h2 {
			display: flex;
			justify-content: center;
		}
	}

	@include for-desktop-up {
		width: 950px;

		> div {
			display: grid;
			grid-template-columns: 1fr 250px;
			gap: $space-md;
		}
		
		h2 {
			justify-content: flex-start;
		}
	}

	
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: $space-sm;
	> div {
		display: flex;
		flex-direction: column;
		gap: $space-sm;
		background-color: white;
		border-radius: $space-xxxs;
		padding: $space-md $space-lg;
	}
}