@import '../../styles/globals.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: $space-md;

	.concept {
		display: flex;
		flex-direction: column;
		gap:$space-xs;
		background-color: white;
		border-radius: $space-xxxs;
		border: 1px solid $lpGrey;
		padding: $space-md $space-md;
		position: relative;
		> #icons {
			display: flex;
			gap: $space-sm;
			position: absolute;
			top: 15px;
			right: 15px;
			i {
				font-size:$space-md;
				color: $lpDark;
				cursor: pointer;
			}
		}
		.line {
			position: absolute;
			bottom: -21px;
			left: 100px;
			height: $space-md;
			border-left: 2px solid $lpDark
		}
		
	}
	> :last-child {
		> :last-child {
			display: none;
		}
	}
	
}