@import '../../styles/globals.scss';

.container {
	
	display: flex;
	flex-direction: column;
	gap: $space-md;
	margin: 50px auto 0 auto;
	width: 500px;
	background-color: white;
	border-radius: $space-xxxs;
	border: 1px solid $lpGrey;
	padding: 40px 80px;

	form, form > div {
		display: flex;
		flex-direction: column;
	}

	form > div {
		gap:$space-xs;
	}

	form {
		gap: $space-md;
		button {
			width: 130px;
			background-color: #F8F8F8;
			border: 1px solid $lpGrey;
		}
	}

	@include for-phone-only {
		padding: 40px 40px;
		width: 100%;
	}

}