@import '../../styles/globals.scss';

.container {
	margin: $space-lg auto 0 auto;
	width: 100%;
	width: 950px;
	display: flex;
	flex-direction: column-reverse;
	gap: $space-md;

	h2 {
		margin-bottom: 15px;
	}

	ul {
		> li {
			display: flex;
			align-items: center;
			gap:$space-xs
		}
	}

	@include for-phone-only {
		max-width:100%;
	}

	@include for-tablet-up {
		max-width: 750px;
	}

	@include for-desktop-up {
		max-width: 950px;
		display: grid;
		grid-template-columns: 1fr 250px;
	}
	
}

