@import '../../styles/globals.scss';

.container {
	background-image: url('../../../public/img/header.jpg');
	background-size: cover;
	height: 350px;
	display: flex;
	justify-content: space-around;
	div:first-child {
		position: relative;
		height: 100%;
		img {
			height: 250px;
			position: absolute;
			bottom: 0;
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		margin-top: 80px;
		color: white;
		p {
			margin-top: $space-sm;
			margin-bottom: $space-lg;
		}
		button {
			width: 150px;
			padding: 15px;
			color: white;
			border: 1px solid white;
			cursor: pointer;
		}
	}
	@include for-phone-only {
		div:first-child {
			display: none;
		}
		.text {
			display: flex;
			align-items: center;
		}
	}
	@include for-tablet-up {
		justify-content: space-between;
		padding: 0 50px;
	}
	@include for-desktop-up {
		justify-content: space-around;
		padding: 0;
	}

}