@import '../../styles/globals.scss';

.body {
	display: flex;    
	gap: 50px;
	justify-content: center;
	width: 950px;
	div {
		h2 {
			margin-left: $space-sm;
			margin-bottom: $space-md;
		}
	}

	.featured > div {
		width: 400px;
	}

	@include for-phone-only {
		padding: 0 20px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
		div > {
			h2 {
				text-align: center;
			}
		}
		h2 {
			justify-content: center;
		}
	}
	@include for-tablet-up {
		display: flex;
		justify-content: center;
		max-width: 100%;
		margin: $space-lg auto 0 auto;
		> div {
			width: 100%;
		}
		.featured > div {
			width: 100%;
		}
	}
	@include for-desktop-up {
		> div {
			margin: 0 auto;	
		}
		> :first-child {
			h2 {
				margin-left: 45px;
			}
		}
	}

}