@import '../../styles/globals.scss';

.circle {
	display: none;
	animation: 10s in-out forwards;
	animation-iteration-count: infinite;

	@include for-tablet-up {
		display: block;
		width: 950px;
		height: 950px;
		background-color: #aab7cb;
		border-radius: 50%;
		position: absolute;
		top: -600px;
		left: -300px;
		z-index:-1;
	}
		
	
	
	@keyframes in-out {
		0% {
			width: 930px;
			height: 930px;
		}
		50% {
			width: 950px;
			height: 950px;
		}
		100% {
			width: 930px;
			height: 930px;
			/* but starting to "disappear" from left to right, just like the way it appears */
		}
	}
}