@import '../../styles/globals.scss';

.container {
	margin: $space-lg auto 0 auto;
	padding: $space-xxl;
	background-color: white;
	border-radius: $space-xxxs;
	form {
		display: flex;
		flex-direction: column;
		gap: $space-md;
		> div {
			label {
				display: flex;
				flex-direction: column;
				gap:$space-xs;
			}
		}
		input[type="submit"] {
			width: $space-xs;
			min-width: 120px;
		}
	}

	@include for-phone-only {
		width: 100%;
		max-width: 500px;
	}
	@include for-tablet-up {
		width: 500px;
	}
	
	@include for-desktop-up {
		width: 600px;
	}

}