@import '../../../styles/globals.scss';

.sidebar {
	gap: $space-xs;
	margin-top: 40px;
	.picture {
		height: 140px;
		width: 140px;
		background-color: #E8E8E8;
		border-radius: 50%;
		align-self: center;
	}
	.profile {
		p {
			margin: $space-sm;
		}
		a {
			cursor: pointer;
		}
	}
	

	@include for-desktop-up {
		display: flex;
		flex-direction: column;
		.picture {
			height: 180px;
			width: 180px;
		}
	}

	
	@include for-tablet-up {
		display: flex;
		align-items: center;
	}

	@include for-phone-only {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		gap: $space-sm;
		.picture {
			height: 100px;
			width: 100px;
			margin: auto;
			background-color: #E8E8E8;
			border-radius: 50%;
			align-self: center;
		}
		.profile {
			width: 100%;
		}
	}
}