@import '../../styles/globals.scss';

@import '../../styles/globals.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: $space-md;
	
	.path {
		position: relative;
		display: flex;
		flex-direction: column;
		gap:$space-xs;
		background-color: white;
		border-radius: $space-xxxs;
		border: 1px solid $lpGrey;
		padding: $space-md $space-md;
		> .icons {
			position: absolute;
			top: 15px;
			right: 15px;
			font-size:$space-md;
			display: flex;
			gap: $space-sm;
			a {
				> i{
					display: flex;
					align-items: flex-start;
				}
				text-decoration: none;
				color: $lpDark;
			}
			i {
				cursor:pointer;
			}
		}
	}

}