// Colors
$lpDark: #1c1928;
$linkColor: #567CA8;
$lpGrey: #C6C5C5;
$lpGreen: #599671;
$lpRed: #965959;

// fonts
$openSans: 'Open Sans', sans-serif;

// header sizes (map to h1 h2 h3 h4 p subtitle)
$f1: 4rem;
$f2: 3rem;
$f3: 2rem;
$f4: 1.5rem;
$f5: 1rem;
$listItem: 1.2rem;
$subtitle: 0.9rem;
$label: .8rem;

// Spacing
$space-unit: 1em;

$space-xxxs: calc(0.25 * $space-unit);
$space-xxs: calc(0.25 * $space-unit);
$space-xs: calc(0.5 * $space-unit);
$space-sm: calc(0.75 * $space-unit);
$space-md: calc(1.25 * $space-unit);
$space-lg: calc(2 * $space-unit);
$space-xl: calc(3.25 * $space-unit);
$space-xxl: calc(5.25 * $space-unit);
$space-xxxl: calc(8.5 * $space-unit);

// breakpoints

$sm: 576px; //for portrait phones.
$md: 768px; //for tablets.
$lg: 992px; //for laptops.
$xl: 1200px;
$xxl: 1400px; //for large devices.